body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}
/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}
.main-content {
  background-color: #fff;
  box-shadow: 6px 6px 20px 0px #0000001a;
  padding: 105px 90px;
}

/* about styles  */
.about/*  сдвигает следующий блок на 40 пикселей вниз  */ {
  margin-bottom: 40px;
}
.about-position {
  font-size: 35px;
  font-weight: bold;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
  color: rgb(120, 67, 29);
}
.about-name {
  font-size: 50px;
  font-weight: bold;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 25px;
  color: rgb(62, 99, 167);
}
.about-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 400px;
  color:  color: rgb(85, 120, 185);
}
/* position styles */
.position {
  font-size: 45px;
  color: rgb(120, 67, 29);
}

/* project styles */
.projects {
  margin-bottom: 50px;
  /* background: #fff;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 60px;
  margin-right: 90px; */
  /* margin: 100px 90px 300px 60px; 
   margin: 50px;
  margin: 100px 50px;
  different variants to make margine */
}
.title {
  font-size: 40px;
  font-weight: bold;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(202, 91, 13);
  margin-bottom: 40px;
}
.projects-list {
  padding: 0;
  margin-left: 20px;
}
.project-item {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(127, 158, 214);
}
.project,
.project-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(127, 158, 214);
  margin-left: 10px;
}
.project-link {
  margin-left: 10px;
}
.project-bracket {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
/* work styles */
.work {
}
/* work experience styles */

.company-position {
  font-size: 30px;
  color: rgb(120, 67, 29);
}
/* education styles */
.education {
  margin-top: 45px;
}
.text-stile {
  color: rgb(85, 120, 185);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  margin-left: 20px;
}
.course-styles {
  font-size: 25px;
  color: rgb(120, 67, 29);
}
/* sidebar styles */
.photo {
  width: 370px;
  margin-bottom: 60px;
}
.sidebar-title {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 10px;
  text-align: left;
}
.sidebar {
  background-color: rgb(120, 67, 29);
  padding-top: 100px;
  width: 370px;
}
.information {
  margin-left: 60px;
}
.contact-type {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-right: 8px;
}
.contact-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgb(127, 158, 214);
}
.contacts {
  margin-bottom: 50px;
}

.tech-skills-list {
  padding: 0;
  margin-left: 20px;
}
.tech-skills-item {
  color: rgb(127, 158, 214);
}
.tech-skills-text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.soft-skills-list {
  padding: 0;
  margin-left: 20px;
}
.soft-skills-item {
  color: rgb(127, 158, 214);
}

.soft-skills-text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.line {
  margin-right: 50px;
}
.list {
  color: #fff;
}
